<template name="accountSettings">

  <div class="tab-pane active" id="account-pane">
    <form class="form-horizontal" id="account-settings-form" action="/settings/update" method="post">
      <div class="control-group" id="last-name-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
          <input type="text" name="email" id="email" placeholder="name@example.com" value="{{email}}">
          <label for="email" class="error help-inline" generated="true"></label>
        </div>
      </div>

      <div class="control-group" id="first-name-group">
        <label class="control-label" for="firstName">First Name</label>
        <div class="controls">
          <input type="text" name="firstName" id="firstName" placeholder="Fill this out!" value="{{firstName}}">
          <label for="firstName" class="error help-inline" generated="true"></label>
        </div>
      </div>

      <div class="control-group" id="last-name-group">
        <label class="control-label" for="lastName">Last Name</label>
        <div class="controls">
          <input type="text" name="lastName" id="lastName" placeholder="Fill this out!" value="{{lastName}}">
          <label for="lastName" class="error help-inline" generated="true"></label>
        </div>
      </div>

      <div class="box-well">
        <div class="padded text-center">
          <button type="button" class="button button-submit blue inset">Save Account Settings</button>
          <a class="pull-right small-text error" href="mailto:support@grep.ly?subject=Account Deletion - User ID #<%= session.userId %>">Delete my account</a>
        </div>
      </div>
    </form>
  </div>

</template>
