<template name="notificationSettings">

  <style>
    .input label {
      display: inline-block;
      font-size: 12px;
      position: relative;
      top: 3px;
      margin-left: 4px;
    }
  </style>

  <div class="tab-pane" id="notifications-pane">
    <form class="form-horizontal" id="notifications-form" action="/settings/update" method="post">
      <div class="clearfix">
        <div class="padded">
          <div class="tab-header"><i class="icon-envelope"></i> Send me an email when:</div>

          <div id="notifications-options" class="padded" style="float: none;">
            {{#eachProperty options}}
              <div class="input">
                <input type="checkbox" name='{{key}}.email' {{#if currentEmailSetting}} checked="checked" {{/if}}>
                <label class="w">{{label}}</label>
              </div>
            {{/eachProperty}}
          </div>

          <div class="tab-header"><i class="icon-eye-open"></i> Show me a notification popup when:</div>

          <div id="notifications-options" class="padded" style="float: none;">
            {{#eachProperty options}}
              <div class="input">
                <input type="checkbox" name='{{key}}.popup' {{#if currentPopupSetting}} checked="checked" {{/if}}>
                <label class="w">{{label}}</label>
              </div>
            {{/eachProperty}}
          </div>
        </div>
      </div>

      <div class="box-well">
        <div class="padded text-center">
          <button type="button" class="button button-submit blue inset">Save Notification Preferences</button>
        </div>
      </div>
    </form>
  </div>

</template>
