<template name="settings">

  <style>
  #settings-content {
    padding-top: 20px;
  }
  </style>

  <div class="alert alert-success flash-message" style="display: none;" id="success-message"></div>

  <div class="tabbable light-box">
    <div class="tab-header">
      Settings
    </div>

    <ul class="nav nav-tabs">
      <li id="account-tab" class="{{#if activeTabIs 'account'}} active {{/if}}"><a href="#account-settings" data-toggle="tab">Account Settings</a></li>
      <li id="password-tab" class="{{#if activeTabIs 'password'}} active {{/if}}"><a href="#change-password" data-toggle="tab">Change Password</a></li>
      <li id="privacy-tab" class="{{#if activeTabIs 'privacy'}} active {{/if}}"><a href="#privacy-settings" data-toggle="tab">Privacy</a></li>
      <li id="notifications-tab" class="{{#if activeTabIs 'notifications'}} active {{/if}}"><a href="#notifications-settings" data-toggle="tab">Notifications</a></li>
    </ul>

    <div id="settings-content" class="tab-content">
      {{> accountSettings}}
      {{> privacySettings}}
      {{> changePasswordSettings}}
      {{> notificationSettings}}
    </div>
  </div>

</template>



