<template name="header">
  <!-- start: Header -->
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#"><span>LiMEWiRE.JS</span></a>

        <!-- start: Header Menu -->
        <div class="nav-no-collapse header-nav">
          <ul class="nav pull-right">
            <li class="dropdown hidden-phone">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="halflings-icon white warning-sign"></i>
              </a>
              <ul class="dropdown-menu notifications">
                <li>
                  <span class="dropdown-menu-title">You have 11 notifications</span>
                </li>
                              <li>
                                    <a href="#">
                    + <i class="halflings-icon white user"></i> <span class="message">New user registration</span> <span class="time">1 min</span>
                                    </a>
                                </li>
                <li>
                                    <a href="#">
                    + <i class="halflings-icon white comment"></i> <span class="message">New comment</span> <span class="time">7 min</span>
                                    </a>
                                </li>
                <li>
                                    <a href="#">
                    + <i class="halflings-icon white comment"></i> <span class="message">New comment</span> <span class="time">8 min</span>
                                    </a>
                                </li>
                <li>
                                    <a href="#">
                    + <i class="halflings-icon white comment"></i> <span class="message">New comment</span> <span class="time">16 min</span>
                                    </a>
                                </li>
                <li>
                                    <a href="#">
                    + <i class="halflings-icon white user"></i> <span class="message">New user registration</span> <span class="time">36 min</span>
                                    </a>
                                </li>
                <li>
                                    <a href="#">
                    + <i class="halflings-icon white cart"></i> <span class="message">2 items sold</span> <span class="time">1 hour</span>
                                    </a>
                                </li>
                <li class="warning">
                                    <a href="#">
                    - <i class="halflings-icon white user"></i> <span class="message">User deleted account</span> <span class="time">2 hour</span>
                                    </a>
                                </li>
                <li class="warning">
                                    <a href="#">
                    - <i class="halflings-icon white shopping-cart"></i> <span class="message">Transaction was canceled</span> <span class="time">6 hour</span>
                                    </a>
                                </li>
                <li>
                                    <a href="#">
                    + <i class="halflings-icon white comment"></i> <span class="message">New comment</span> <span class="time">yesterday</span>
                                    </a>
                                </li>
                <li>
                                    <a href="#">
                    + <i class="halflings-icon white user"></i> <span class="message">New user registration</span> <span class="time">yesterday</span>
                                    </a>
                                </li>
                                <li>
                                <a class="dropdown-menu-sub-footer">View all notifications</a>
                </li>
              </ul>
            </li>

            <!-- start: Notifications Dropdown -->
            <li class="dropdown hidden-phone">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="halflings-icon white tasks"></i>
              </a>
              <ul class="dropdown-menu tasks">
                <li>
                  <span class="dropdown-menu-title">You have some transfers in progress</span>
                </li>
                {{#each transfers}}
                  <li>
                    <a href="#">
                      <span class="header">
                        <span class="title">{{file.name}}</span>
                      </span>
                      <div class="progress progress-striped progressSlim">
                        <div class="bar" style="width: 100%" />
                      </div>
                    </a>
                  </li>
                {{/each}}
              </ul>
            </li>
            <!-- end: Notifications Dropdown -->

            <!-- start: Message Dropdown -->
            <!-- <li class="dropdown hidden-phone">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="halflings-icon white envelope"></i>
              </a>
              <ul class="dropdown-menu messages">
                <li>
                  <span class="dropdown-menu-title">You have 9 messages</span>
                </li>
                              <li>
                                    <a href="#">
                    <span class="avatar"><img src="img/avatar.jpg" alt="Avatar"></span>
                    <span class="header">
                      <span class="from">
                          Łukasz Holeczek
                         </span>
                      <span class="time">
                          6 min
                        </span>
                    </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                    <span class="avatar"><img src="img/avatar2.jpg" alt="Avatar"></span>
                    <span class="header">
                      <span class="from">
                          Megan Abott
                         </span>
                      <span class="time">
                          56 min
                        </span>
                    </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                    <span class="avatar"><img src="img/avatar3.jpg" alt="Avatar"></span>
                    <span class="header">
                      <span class="from">
                          Kate Ross
                         </span>
                      <span class="time">
                          3 hours
                        </span>
                    </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                <li>
                                    <a href="#">
                    <span class="avatar"><img src="img/avatar4.jpg" alt="Avatar"></span>
                    <span class="header">
                      <span class="from">
                          Julie Blank
                         </span>
                      <span class="time">
                          yesterday
                        </span>
                    </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                    <span class="avatar"><img src="img/avatar5.jpg" alt="Avatar"></span>
                    <span class="header">
                      <span class="from">
                          Jane Sanders
                         </span>
                      <span class="time">
                          Jul 25, 2012
                        </span>
                    </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                <li>
                                <a class="dropdown-menu-sub-footer">View all messages</a>
                </li>
              </ul>
            </li> -->
            <!-- end: Message Dropdown -->
            <!-- <li>
              <a class="btn" href="#">
                <i class="halflings-icon white wrench"></i>
              </a>
            </li> -->
            <!-- start: User Dropdown -->
            <li class="dropdown">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="halflings-icon white user"></i> {{username}}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/logout"><i class="halflings-icon white off"></i> Logout</a></li>
              </ul>
            </li>
            <!-- end: User Dropdown -->
          </ul>
        </div>
        <!-- end: Header Menu -->

      </div>
    </div>
  </div>
  <!-- end: Header -->
</template>






