<template name="forgotPassword">

  <div class="alert alert-success flash-message" style="display: none;" id="success-message"></div>
  <div class="container">
    <div class="login-wrapper" style="margin-top: 120px">
      <div style="text-align: center">
        <i class="icon-fire logo-icon"></i>
      </div>

      <div id="login-manager">
          <form action="/forgot-pass" method="post" id="forgot-pass-form">
            <div class="input-group">
              <input type="text" placeholder="Email" name="email" id="email" class="input-transparent" />
            </div>
            <button id="forgot-pass-submit" type="button" class="login-button">Send Password Recovery Email</button>
          </form>
      </div>

      <div class="inner-well" style="text-align: center; margin: 20px 0;">
        <a href="/login" id="login-link" class="button mini rounded gray"><i class="icon-signin"></i> Login</a>
        <a href="/register" id="register-link" class="button mini rounded gray"><i class="icon-plus"></i> Register</a>
        <a href="/forgot-pass" id="forgot-link" class="button mini rounded gray"><i class="icon-question-sign"></i> Forgot Password?</a>
      </div>
    </div>
  </div>

</template>
